doctype html
html
  head
    style(type='text/css').
      body {
        padding: 3px;
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
        background: #222;
        color: #EEE;
      }
    script(src=pathname + "/socket.io/socket.io.js")
  body
    span hi jade
    script.
      var socket = io()
      console.log(socket)
      socket.on('connect', () => {
        console.log(socket.id); // 'G5p5...'
        socket.on('log', function (msg) {
          console.log(msg)
        })
      });
